{% extends 'base.html' %}

{% block title %}
Dashboard IA
{% endblock %}

{% block content %}

<div class="card">

    <h2>Dashboard IA</h2>

    <div class="cards">

        <div class="mini-card">

            <h3>Productos</h3>

            <h1>{{ resumen.productos }}</h1>

        </div>

        <div class="mini-card">

            <h3>Ventas</h3>

            <h1>{{ resumen.ventas }}</h1>

        </div>

        <div class="mini-card">

            <h3>Riesgo</h3>

            <h1>{{ resumen.riesgo }}</h1>

        </div>

        <div class="mini-card">

            <h3>MAE</h3>

            <h1>{{ resumen.mae }}</h1>

        </div>

    </div>

</div>


<div class="card">

<h2>Predicción de Demanda</h2>

<table>

<thead>

<tr>

<th>Producto</th>

<th>Stock</th>

<th>Demanda</th>

<th>Reponer</th>

<th>Estado</th>

</tr>

</thead>

<tbody>

{% for fila in predicciones %}

<tr>

<td>{{ fila.nombre }}</td>

<td>{{ fila.stock }}</td>

<td>{{ fila.demanda_estimada }}</td>

<td>{{ fila.reponer }}</td>

<td>{{ fila.estado }}</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

{% endblock %}