{% extends 'base.html' %}

{% block title %}
Productos
{% endblock %}

{% block content %}

<div class="card">

    <h2>Listado de Productos</h2>

    <div class="acciones-superiores">

        <a href="{{ url_for('productos.nuevo_producto') }}"
        class="btn-nuevo">

            + Nuevo Producto

        </a>

    </div>

    <table>

        <thead>

            <tr>

                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Acciones</th>

            </tr>

        </thead>

        <tbody>

            {% for producto in productos %}

            <tr>

                <td>{{ producto.id }}</td>
                <td>{{ producto.nombre }}</td>
                <td>S/. {{ producto.precio }}</td>
                <td>{{ producto.stock }}</td>

                <td>

                    <button>Editar</button>
                    <button>Eliminar</button>

                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}