{% extends 'base.html' %}

{% block title %}
Productos
{% endblock %}

{% block content %}

<div class="card">

    <h2>Listado de Productos</h2>

    <table>

        <thead>

            <tr>

                <th>ID</th>
                <th>Categoría</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Stock Mínimo</th>

            </tr>

        </thead>

        <tbody>

            {% for producto in productos %}

            <tr>

                <td>{{ producto.id }}</td>

                <td>{{ producto.categoria }}</td>

                <td>{{ producto.nombre }}</td>

                <td>S/. {{ producto.precio }}</td>

                <td>{{ producto.stock }}</td>

                <td>{{ producto.stock_minimo }}</td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}